@layer reset, base, tokens, recipes, utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes strongify {
  0% {
    background-color: rgba(250, 204, 21, 0.4);
  }
  100% {
    background-color: none;
  }
}

:target {
  animation: 1s ease-in 1 strongify;
}
